.header {
    background-color: #8cc969;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo-container {
    flex-basis: 100px;
}

.logo {
    width: 100%;
    height: auto;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 100%; 
    margin-right: 20px;
    padding: 5px;
    border-radius: 5px;
}

.search-bar input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    color: #333;
    font-size: 16px;
    box-sizing: border-box;
    
}

.search-button {
    background-color: #462dea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    right: 5px;
    padding: 8px;
    padding: 8px 15px; 
    height: 45px;
    margin-left: 10px;
}


.item-list {
    width: 100%;
    border-collapse: collapse;
}

.item-list th,
.item-list td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
