.donated-item-details-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #f3f6f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Two-column layout for the main details */
.details-grid {
    display: grid;
    grid-template-columns: 3fr 2fr; /* 70% for left column, 30% for right column */
    gap: 20px;
}

.left-column {
    max-width: 50vw;
    white-space: wrap;
}
/* Section styling */
.section-header {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    background-color: #f3f6f9;
    color: black;
}

.section-header h2 {
    font-size: 20px;
    margin: 0 0 10px 0;
}

.section-header button {
    margin-left: auto; /* Pushes the button to the right */
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.section-header .icon {
    font-size: 28px;
    margin-right: 8px;
}

/* Left Column Styling (70% width) */

.left-column .donated-item-status-section {
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #deeaf4; /* Consistent background for sections */
}
.right-column .donor-details-section,
.right-column .program-details-section,
.right-column .item-details-section {
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #c8e0c9; /* Consistent background for sections */
}

.right-column .item-details-section {
    background-color: #deeaf4;
}

.right-column .item-details-section .section-header {
    background-color: #7ca3c7;
}

.left-column .donated-item-status-section {
    background-color: #f7e7b9;
}

.left-column .donated-item-status-section .section-header {
    background-color: #d6ae47;
}

.right-column .donor-details-section {
    background-color: #c8e0c9;
}

.right-column .donor-details-section .section-header {
    background-color: #8aa88b;
}

.right-column .program-details-section {
    background-color: #d5e5f3;
}

.right-column .program-details-section .section-header {
    background-color: #7ca3c7;
}

p {
    margin: 8px 0;
    font-size: 16px;
}

.image-carousel img {
    width: 30%;
    margin: auto; /* Center the image horizontally */
    max-height: 300px; /* Limit image height for better display */
}
.status-section {
    margin-bottom: 20px;
}

.image-scroll-container {
    display: flex; /* Aligns children (images) in a row */
    overflow-x: auto;
    white-space: wrap;
    padding: 10px 0;
}

.status-image {
    height: 150px; /* Adjust height accordingly */
    width: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Space between images */
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .details-grid {
        grid-template-columns: 1fr; /* Stacks sections vertically on small screens */
    }
}
