.item-list {
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto; /* This will center the table horizontally */
}

.item-list th,
.item-list td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center; /* Center text horizontally */
    vertical-align: middle; /* Center text vertically */
}

.div-addprogram {
    width: 85%;
    padding: 8px;
    button {
        margin-left: 5px !important;
        margin: 9px !important;
    }
    select {
        height: 45px;
        width: 250px;
    }
}
.div-addprogram button {
    margin-left: 5px !important;
    margin: 9px !important;
}
.div-updateprogram {
    display: flex;
    justify-content: flex-end;
    button {
        margin: 20px 6px;
        padding: 10px 20px 12px;
        width: 200px;
        text-align: center;
    }
}
.clickable-row {
    cursor: pointer; /* Indicate interactivity */
    transition:
        background-color 0.3s ease,
        color 0.3s ease; /* Smooth hover effect */
}

.clickable-row:hover {
    background-color: #f1f1f1; /* Light gray background */
    color: #007bff; /* Change text color to blue */
}

/* Prevent buttons and inputs from taking the hover effect */
.clickable-row button,
.clickable-row input {
    cursor: default; /* Default cursor for these elements */
}
