.button-margin {
    margin-left: 10px; /* Adjust the margin value as needed */
}

.outer-container {
    display: flex;
    justify-content: center;
}

.formulary{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.formulary div{
    width: 90%;
}

.donor-form {
    max-height: 90vh;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    padding-right: 0px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}