.login-container {
    display: flex;
    flex-direction: column;
    /* Arrange items vertically */
    align-items: center;
    min-height: 100vh;
    background-color: #6096ba;
    padding: 8%;
}
.login-box {
    padding: 4%;
    width: 50%;
    margin: auto;
    background-color: #a9d6e5;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.login-label {
    font-size: 2rem;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 0%;
}
.istyle {
    padding: 8px 16px;
    margin-top: 8px;
    border: 2px solid #6096ba !important;
    color: #6096ba;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    max-width: 100%;
}
.istyleu {
    padding: 8px 16px;
    margin-top: 8px;
    border: 2px solid #6096ba !important;
    color: #6096ba;
    margin-bottom: 5px !important;
}
.buttongroups {
    padding: 1%;
    display: grid;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
}
.btn-style {
    background-color: #3498db;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-style:hover {
    background-color: #2980b9;
}

.btlSuccess {
    background-color: #29b982;
    border: none;
    color: white;
    width: 100%;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
#emailHelp {
    padding-bottom: 15px;
}
.captha {
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.btSuccess:hover {
    background-color: #29b982;
}
.register-link {
    margin-top: 10px;
    text-align: center;
}
/* Login popup */
.popup {
    position: fixed;
    top: 60px;
    right: 0px;
    background-color: #8cc969;
    color: white;
    padding: 15px 35px;
    font-size: 24px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    animation: fadeInOut 5s ease-in-out;
}

/* Smooth fade-in and fade-out effect */
@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    20% {
        opacity: 1;
        transform: translateY(0);
    }
    80% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}
